* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

header {
    height: 373px;
}

.menu {
    display: flex;
    justify-content: space-around;
    background: rgba(0,0,0,0.7);
    height: 70px; 
}

.logo {
    display: flex;
    height: 112px;
    width: 253px;
}

.menu a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-family: "Raleway"; 
    color: #FFFFFF;
}

.menu a:hover {
    cursor: pointer;
    border-top: 2px solid #ff0036;
    border-bottom: 2px solid #ff0036;
}

.background-woman {
    height: 658px;
    background-image: url(./img/slideshow/bg.png); 
    background-position-y: -156px;
    background-repeat: no-repeat;
    background-size: cover;
}

 .title {
    display: flex;
    white-space: pre;
    justify-content: center;
}

.slideshow .title {
    margin-top: 180px;
}

.white-word {
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
}

.red-word {
    font-size: 30px;
    color: #ff0036;
    font-weight: 700;
    font-family: "Raleway";
}

.black-word {
    font-size: 30px;
    color: #262626;
    font-weight: 700;
    font-family: "Raleway";
    text-align: center;
}

.slideshow .text {
    margin-top: 50px;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
}

.slideshow.description {
    font-size: 16px;
    line-height: 22px;
    font-family: "Lato", Sans-serif;
}

.arrows {
    position: relative;
}

.arrows div{
    position: absolute;
    border: solid  #a4a4a4;
    border-width: 0 4px 4px 0;
    border-radius: 20%;
    display: inline-block;
    padding: 7px;
}

.arrows .right {
    right: 36px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrows .left {
    left: 36px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrows > div:hover{
    cursor: pointer;
    border-color: #ff0036;
}

header .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 67px;
}

 .button-features {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 170px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Raleway";
    background-color: #131313;
}

.button-free-psd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 170px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Raleway";
    background-color: #131313;
}

.button-features + .button-free-psd {
    margin-left: 64px;
}

header .button > a:hover {
    cursor: pointer;
    background-color: #ff0036;
}

.about {
    height: 1100px;
}

.about .title {
    margin-top: 100px;
}

.description {
    text-align: center;
    margin-top: 50px;
    color: #505050;
    font-weight: 700;
}

.description .colortext {
    color: #ff0036;
}

.about .wrapper {
    display: flex;
    width: 1170px;
}

.about .wrapper article {
    flex-direction: column;
}

.about .more-description {
    width: 570px;
    height: 81px;
    margin-top: 100px;
    margin-left: 115px;
    
    font-size: 16px;
    line-height: 22px;
    color: #505050;
    font-weight: 400;
    font-family: "Lato", Sans-serif;
    text-align: justify;
}

.left-image {
    justify-content: flex-end;
    margin-left: auto;
}

.toggle {
    margin-left: 115px;
    margin-top: 50px;
}

.toggle > div {
    border: 1px solid #e7e7e7; 
}

.toggle div:not(:first-child) {
    height: 45px;
    color: #262626;
    margin-bottom: 8px;
}

.toggle div:first-child {
    color: #ff0036;
    height: 45px;
}

.toggle div:not(:nth-child(2)) {
    display: flex;
    width: 570px;
    
    background-color: #f7f7f7;
    font-size: 20px;
    font-weight: 500;
    font-family: "Raleway";
}

.toggle div:nth-child(2) {
    width: 570px;
    height: 80px;
    padding: 15px;

    background-color: #ffffff;
    font-size: 14px;
    color: #505050;
    font-weight: 400;
    font-family: "Lato", Sans-serif;
    text-align: justify;
}

.toggle img {
    border-right: 1px solid #e7e7e7;
    background-color: #f7f7f7;
    padding: 12px 15px;
}

.toggle span {
    margin-top: 10px;
    margin-left: 30px;
} 

.about .separator {
    text-align: center;
    margin-top: 100px;
}

.scrollbar {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 100px;
}

.scrollbar img {
    background-image: url(./img/about/Shape_notactive.png);
    height: 77px;
    width: 88px;
}

.scrollbar p:nth-of-type(1) {
    padding: 36px 0;
    font-size: 20px;
    color: #262626;
    font-weight: 500;
    font-family: "Raleway";
}

.scrollbar p:nth-of-type(2) {
    width: 270px;
    height: 59px;
    font-size: 16px;
    line-height: 22px;
    color: #505050;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.portfolio {
    position: relative;
    height: 1077px;
    background-color: #262626;
}

.portfolio .title {
    padding-top: 100px;
}

.portfolio .navigation {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: #a4a4a4;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}

.portfolio a:hover {
    cursor: pointer;
    color: #ff0036;
}

.portfolio .gallery {
    margin-top: 99px;
}

.portfolio img {
    float: left;
}

.portfolio .gallery p {
    display: flex;
    justify-content: center;
}

.portfolio .separator {
    position: absolute;
    bottom: -10px; 
}

.our-product-features {
    height: 900px;
}

.our-product-features .title {
    margin-top: 100px;
}

.our-product-features .product-description {
    display: flex;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 1170px;
}

.our-product-features .product-description li {
    display: flex;
    align-items: center;
    width: 370px;
    border: 1px solid #e7e7e7;
    text-align: justify;
}

.our-product-features .product-description p {
    cursor: pointer;
    font-size: 20px;
    color: #262626;
    font-weight: 500;
    padding-top: 17px;
    padding-bottom: 17px;
    font-family: "Raleway";
}

.our-product-features .product-description .wrapper {
    position: relative;
}

.button-free-psd:hover {
    cursor: pointer;
    background-color: #ff0036;
}

.our-product-features .product-description li:hover {
    background-color: #ff0036;
}

.our-product-features .product-description p:hover {
    color: #e7e7e7;
}
