* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    background: rgba(0,0,0,0.7);
    height: 70px; 
}

.logo {
    display: flex;
    height: 112px;
    width: 253px;
}

.menu a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-family: "Raleway"; 
    color: #FFFFFF;
}

.menu a:hover {
    border-top: 2px solid #ff0036;
    border-bottom: 2px solid #ff0036;
}

.background_woman {
    height: 658px;
    background-image: url(./img/slideshow/bg.png); 
    background-position-y: -156px;
    background-repeat: no-repeat;
}

.slideshow .title {
    display: flex;
    padding-top: 180px;
    white-space: pre;
    justify-content: center;
}

.white_word {
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
}

.red_word {
    font-size: 30px;
    color: #ff0036;
    font-weight: 700;
    font-family: "Raleway";
}

.slideshow .text {
    padding-top: 50px;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
}

.arrows {
    position: relative;
}

.arrows div{
    position: absolute;
    border: solid  #a4a4a4;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
}

.arrows .right {
    right: 36px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrows .left {
    left: 36px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrows > div:hover{
    border-color: #ff0036;
}

header .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 67px;
}

header .button .button_features {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 170px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Raleway";
    background-color: #131313;
}

header .button .button_free_psd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 170px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Raleway";
    background-color: #131313;
}

.button_features + .button_free_psd {
    margin-left: 64px;
}

header .button > div:hover {
    background-color: #ff0036;
}
