* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

header {
    height: 373px;
}

.menu {
    display: flex;
    justify-content: space-around;
    background: rgba(0,0,0,0.7);
    height: 70px; 
}

.logo {
    display: flex;
    height: 112px;
    width: 253px;
}

.menu a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-family: "Raleway"; 
    color: #FFFFFF;
}

.menu a:hover {
    cursor: pointer;
    border-top: 2px solid #ff0036;
    border-bottom: 2px solid #ff0036;
}

.background-woman {
    height: 658px;
    background-image: url(./img/slideshow/bg.png); 
    background-position-y: -156px;
    background-repeat: no-repeat;
    background-size: cover;
}

 .title {
    display: flex;
    white-space: pre;
    justify-content: center;
}

.slideshow .title {
    margin-top: 180px;
}

.white-word {
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
}

.red-word {
    font-size: 30px;
    color: #ff0036;
    font-weight: 700;
    font-family: "Raleway";
}

.black-word {
    font-size: 30px;
    color: #262626;
    font-weight: 700;
    font-family: "Raleway";
    text-align: center;
}

.slideshow .text {
    margin-top: 50px;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
}

.slideshow .description {
    font-size: 16px;
    line-height: 22px;
    font-family: "Lato", Sans-serif;
}

.arrows {
    position: relative;
}

.arrows div{
    position: absolute;
    border: solid  #a4a4a4;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 7px;
}

.arrows .right {
    right: 36px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrows .left {
    left: 36px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrows > div:hover{
    cursor: pointer;
    border-color: #ff0036;
}

header .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 67px;
}

.button-features {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 170px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Raleway";
    background-color: #131313;
}

.button-free-psd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 170px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Raleway";
}

header .button-free-psd {
    background-color: #131313;
}

.button-features + .button-free-psd {
    margin-left: 64px;
}

header .button > a:hover {
    cursor: pointer;
    background-color: #ff0036;
}

.about {
    height: 1100px;
}

.about .title {
    margin-top: 100px;
}

.description {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 700;
    font-family: "Lato", Sans-serif;
}

.about .description {
    color: #505050;
}

.description .colortext {
    color: #ff0036;
}

.about div.wrapper {
    display: flex;
    flex-direction: row;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
}

.about .toggle .more-description {
    width: 570px;
    height: 81px;
    margin-bottom: 50px;
    
    font-size: 16px;
    line-height: 22px;
    color: #505050;
    font-weight: 400;
    font-family: "Lato", Sans-serif;
    text-align: justify;
}

.about .left-image {
    align-items: center;
    margin: auto 0;
}

.about .toggle > div {
    border: 1px solid #e7e7e7; 
}

.about .toggle div:not(:nth-of-type(1)) {
    height: 45px;
    color: #262626;
    margin-bottom: 8px;
}

.about .toggle div:nth-of-type(1) {
    color: #ff0036;
    height: 45px;
}

.about .toggle div:not(:nth-of-type(2)) {
    display: flex;
    width: 570px;
    
    background-color: #f7f7f7;
    font-size: 20px;
    font-weight: 500;
    font-family: "Raleway";
    cursor: pointer;
}

.about .toggle div:nth-of-type(2) {
    width: 570px;
    height: 80px;
    padding: 15px;

    background-color: #ffffff;
    font-size: 14px;
    color: #505050;
    font-weight: 400;
    font-family: "Lato", Sans-serif;
    text-align: justify;
}

.about .toggle img {
    border-right: 1px solid #e7e7e7;
    background-color: #f7f7f7;
    padding: 12px 15px;
}

.about .toggle span {
    margin-top: 10px;
    margin-left: 30px;
} 

.about .separator {
    text-align: center;
    margin-top: 100px;
}

.advantages {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 1170px;
    margin: 100px auto;
}

.advantages img {
    background-image: url(./img/about/Shape_notactive.png);
    height: 77px;
    width: 88px;
    cursor: pointer;
}

.advantages p:nth-of-type(1) {
    padding: 36px 0;
    font-size: 20px;
    color: #262626;
    font-weight: 500;
    font-family: "Raleway";
}

.advantages p:nth-of-type(2) {
    width: 270px;
    height: 59px;
    font-size: 16px;
    line-height: 22px;
    color: #505050;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.portfolio {
    height: 1077px;
    background-color: #262626;
}

.portfolio .title {
    padding-top: 100px;
}

.portfolio .navigation {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: #a4a4a4;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}

.portfolio a:hover {
    cursor: pointer;
    color: #ff0036;
}

.portfolio .gallery {
    margin-top: 99px;
}

.portfolio img {
    float: left;
}

.portfolio .gallery div {
    display: flex;
    justify-content: center;
}

.separator {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.our-product-features {
    height: 900px;
}

.our-product-features .title {
    margin-top: 100px;
}

.our-product-features .description {
    color: #505050;
}

.our-product-features .product-description {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 1170px;
}

.our-product-features .product-description ul {
    margin-top: 100px;
}

.our-product-features .product-description li {
    display: flex;
    align-items: center;
    width: 370px;
    border: 1px solid #e7e7e7;
    text-align: justify;

    cursor: pointer;
    font-size: 20px;
    color: #262626;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Raleway";
}

.product-description-left-list li {
    justify-content: flex-end;
}

.product-description-right-list li {
    justify-content: flex-start;
}

.product-description img {
    margin-left: 10px;
    margin-right: 10px;
}

.our-product-features .button-free-psd:hover {
    cursor: pointer;
    background-color: #ff0036;
}

.our-product-features .product-description li:hover {
    background-color: #ff0036;
    color: #e7e7e7;
}

.our-product-features .product-description .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-product-features .button-free-psd {
    position: absolute;
    bottom: 73px;
    background-color:#393939;
}

.our-clients {
    background-image: url(./img/our\ clients/bg.png); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 653px;
}

.client {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.our-clients .companies img {
    width: 270px;
    height: 116px;
    margin: 15px 15px;
}

.our-clients .companies {
    display: flex;
    width: 600px;
}

.our-clients .title {
    padding-top: 95px;
}

.our-clients .description {
    color:#a4a4a4;
}

.our-clients .client .description {
    width: 538px;
    font-size: 16px;
    line-height: 22px;
    color: #a4a4a4;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
}

.our-clients .person div:nth-of-type(1) {
    display: flex;
    justify-content: center;
}

.our-clients .person div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 15px;
    width: 35px;
}

.our-clients .person p {
    margin-top: 10px;
    color: #ff0036;
    font-weight: 700;
    font-family: "Raleway";
    text-align: center;
    font-size: 16px;
}

.our-clients .client p:first-child {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Raleway";
    text-align: center;
}

.our-teamwork {
    height: 1250px;
}

.our-teamwork .title {
    margin-top: 90px;
}

.our-teamwork .description {
    color:#505050;
}

.our-teamwork .team {
    display: flex;
    width: 1170px;
    justify-content: space-between;
    margin: 0 auto;
}

.our-teamwork .team .worker .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 270px;
    height: 240px;
    background-image: url(./img/our\ teamwork/de.png);
}

.our-teamwork .team .worker .social-media div {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 155px;
    opacity: 0;
}

.our-teamwork .team .worker .social-media div:hover {
    opacity: 1;
}

.our-teamwork .team .srour .social-media {
    background-image: url(./img/our\ teamwork/srour.png);
}

.our-teamwork .team .doe .social-media {
    background-image: url(./img/our\ teamwork/doe.png);
}

.our-teamwork .team .de .social-media {
    background-image: url(./img/our\ teamwork/de.png);
}

.our-teamwork .team .worker div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 270px;
    height: 122px;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
}

.our-teamwork .team .worker p:nth-of-type(1) {
    font-size: 20px;
    color: #262626;
    font-weight: 500;
    font-family: "Raleway";
    text-align: center;
}

.our-teamwork .team .worker p:nth-of-type(2) {
    font-size: 16px;
    line-height: 22px;
    color: #505050;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.our-teamwork .team .worker .social-media:hover {
    background-image: url(./img/our\ teamwork/img\ hover.png);
}

.our-teamwork .team .worker p:nth-of-type(1):hover {
    color: #ff0036;
    cursor: pointer;
}

.our-teamwork .separator {
    margin-top: 100px;
}

.diagrams {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 750px;
}

.diagram div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: 145px; 
	height: 145px;

	font-size: 38px;
	line-height: 100px;
	text-align: center;

	border: 3px solid #ff0036;
    border-right: 3px solid #ECF5E4;
	border-radius: 50%;
}

.diagram p:nth-of-type(1) {
    font-size: 40px;
    line-height: 95px;
    color: #ff0036;
    font-weight: 300;
    font-family: "Lato";
} 

.diagram span {
    color: #262626;
}

.diagrams p:nth-child(2) {
    font-size: 20px;
    color: #262626;
    font-weight: 500;
    font-family: "Raleway";
    text-align: center;
}

.diagrams p:nth-child(3) {
    width: 155px;
    font-size: 16px;
    line-height: 18px;
    color: #505050;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
}